@import "semantic-ui";
$green:#016936;

.chatbox {
    height:450px;
}

.link-reset {
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);
    &:hover {
        color:rgba(0, 0, 0, 0.897);
    }
}

#messages {
    height: 15em;
    overflow: auto;
}

.input button {
    display: none;
}