<div class="ui mini modal">
  <i class="close icon"></i>
  <div class="header">
    Sign up form
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Username</label>
        <input type="text" name="first-name" placeholder="Username">
      </div>
      <div class="field">
        <label>Password</label>
        <input type="text" name="last-name" placeholder="Password">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" checked="true" tabindex="0" class="hidden">
          <label>I agree to the Terms and Conditions</label>
        </div>
      </div>
      <div class="actions">
        <div class="ui black deny button">
          Cancel
        </div>
        <button class="ui positive right labeled icon button" type="submit">Submit<i class="checkmark icon"></i></button>
      </div>
    </form>
  </div>
</div>
